#about
  %p
    ExCentric est un collectif d'artistes accompagnés de passionnés de l'art sous toutes ses formes.
    Inauguré le 20 février 2015, grâce au soutien de la Ville de Maubeuge et de Promocil, l'association organise des expositions et des évènements culturels dans le coeur de ville.

  %p
    L'espace ExCentric, au coeur du quartier de Joyeuse, est un écrin où les artistes peuvent exposer, se rencontrer et travailler à des projets communs. Il se compose d'une partie boutique où les artistes mettent en vente quelques unes de leurs oeuvres pour une exposition permanente, sans cesse renouvelée ; d'une galerie de 60 m2 et de deux petits ateliers.

  %p
    Grâce au partenariat avec les commerçants du quartier, ExCentric a à coeur de participer à la redynamisation de celui­-ci par une programmation variée de concerts, de marchés d'artisanat et d'événements festifs.