= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: 'smart-green' }) do |f|
  %h1
    Edit #{resource_name.to_s.humanize}
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update", class: "button"

- unless Admin.count == 1
  %br
  .smart-green
    %h1 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), class: "button", data: { confirm: "Êtes vous sûr?" }, method: :delete}
= link_to "Back", :back
