= simple_form_for(@artiste, html: { class: 'smart-green' }) do |f|
  %h1= params[:action] == "new" ? "Nouvel Artiste" : "Editer Artiste"

  .field
    = f.label :to_display, "Afficher"
    = f.check_box :to_display, checked: Proc.new { |f| params[:action] == 'edit' ? f.object.to_display : true }.call(f)
  .field
    = f.input :last_name, label: "Nom"
  .field
    = f.input :first_name, label: "Prénom"
  .field
    = f.label :alias
    = f.text_field :alias
  .field
    = f.label :slideshow_image, "Image du slideshow (Largeur: 450px)"
    = f.file_field :slideshow_image
    - if params[:action] == 'edit'
      %br
      = image_tag(f.object.slideshow_image_url(:thumb_150)) if f.object.slideshow_image?
  .field
    = f.label :slideshow_biography, "Slideshow biographie"
    = f.text_area :slideshow_biography, :cols => 90, :rows => 5
  .field
    = f.label :slideshow_position, "Slideshow position"
    = f.select :slideshow_position, 1..10, include_blank: true
  .field
    = f.label :on_display, "Afficher sur le slideshow"
    = f.check_box :on_display
  .field
    = f.input :presentation_image, label: "Image de présentation (Dimension: 250px x 250px)"
    - if params[:action] == 'edit'
      %br
      = image_tag(f.object.presentation_image_url(:thumb_150)) if f.object.presentation_image?
  .field
    = f.label :biography, "Biographie"
    = f.text_area :biography, :cols => 90, :rows => 10
  .field
    = f.label :next_exhibition, "Prochaine exposition"
    = f.text_area :next_exhibition, :cols => 90, :rows => 5
  .dash
  #works
    .field
      = f.fields_for :works do |work|
        = render 'work_fields', f: work
    .links
      = link_to_add_association 'Ajouter une image', f, :works, class: "button inline-block"
      .clear.dash
  #sounds
    .field
      = f.fields_for :sounds do |sound|
        = render 'sound_fields', f: sound
    .links
      = link_to_add_association 'Ajouter un son', f, :sounds, class: "button inline-block"
      .clear.dash
  .actions
    = f.submit 'Save', class: "button"