%table
  %thead
    %tr
      %th Nom
      %th Prénom
      %th Alias
      %th Slideshow image
      %th Slideshow biographie
      %th Image présentation 
      %th Biogragphie
      %th
      %th
      
  %tbody
    - @artistes.each do |artiste|
      %tr
        %td= link_to artiste.last_name, artiste
        %td= link_to artiste.first_name, artiste
        %td= artiste.alias
        %td= image_tag(artiste.slideshow_image_url(:thumb)) if artiste.slideshow_image?
        %td= truncate(artiste.slideshow_biography, length: 50, separator: ' ')
        %td= image_tag(artiste.presentation_image_url(:thumb)) if artiste.presentation_image?
        %td= truncate(artiste.biography, length: 200, separator: ' ')
        %td= link_to 'Editer', edit_artiste_path(artiste)
        %td= link_to 'Supprimer', artiste, :method => :delete, :data => { :confirm => 'Êtes-vous sûr ?' }

%br

= link_to 'Nouvel Artiste', new_artiste_path