.nested-fields
  .field
    = f.input       :title, label: "Titre du son"
  .field
    = f.label       :file, "Upload son"
    = f.file_field  :file
  .field
  - if params[:action] == 'edit'
    %br
    = link_to File.basename(f.object.file.path), f.object.file_url, target: :_blank  if f.object.file? && f.object.file.path
    = link_to_remove_association "Retirer ce son", f, class: "button inline-block"
  .clear

    