.nested-fields
  .field
    = f.input       :title, label: "Titre du l'oeuvre"
  .field
    = f.label       :type_file, "Type de l'oeuvre"
    = f.select      :type_file, Work::TYPE_FILE
  .field
    = f.label       :file, "Upload image"
    = f.file_field  :file
  .field
  - if params[:action] == 'edit'
    %br
    = image_tag(f.object.file_url(:thumb_150)) if f.object.file?
  = link_to_remove_association "Retirer cette image", f, class: "button inline-block"
  .clear
    