#artistes
  %h1= "Les #{@response[:title]}"
  #content-block
    - @artistes.each do |artiste|
      %div.block-left
        = link_to image_tag(artiste.presentation_image_url(:thumb_150), width: "150px", height: "150px"), artiste
        %div.center.full_name
          - if artiste.alias.present? 
            = link_to "<span>#{artiste.alias}</span>".html_safe, artiste, class: "align-top-margin"
          - else
            = link_to "<span>#{artiste.first_name} <br/> #{artiste.last_name}</span>".html_safe, artiste
    .clear