#artiste
  %h1
    = @artiste.alias_or_full_name
  #content-block
    .left.margin-right.margin-bottom= image_tag(@artiste.presentation_image_url, width: "250px", height: "250px")
    %p.no-margin.first_line.big-line-height= format_text(@artiste.biography)
    
    - if @artiste.next_exhibition.present?
      %br
      %h4.clear Prochaine exposition
      %p= format_text(@artiste.next_exhibition)

    - if @artiste.works.any?
      %br
      %h4.clear Découvrez ses oeuvres
      #work-block
        - @artiste.works.each do |work|
          .container_img= image_tag work.file_url, class: "image_gallery" , href: work.file_url       

    .clear
    
    - if @artiste.sounds.any?
      %h4.clear Découvrez ses compositions
      %br
      #sound-block
        #jplayer.jp-jplayer
        #jp_container.jp-audio{"aria-label" => "media player", role: "application"}
          .jp-type-single
            .jp-gui.jp-interface
              .jp-volume-controls
                %button.jp-mute{role: "button", tabindex: "0"} mute
                %button.jp-volume-max{role: "button", tabindex: "0"} max volume
                .jp-volume-bar
                  .jp-volume-bar-value
              .jp-controls-holder
                .jp-controls
                  %button.jp-play{role: "button", tabindex: "0"} play
                  %button.jp-stop{role: "button", tabindex: "0"} stop
                .jp-progress
                  .jp-seek-bar
                    .jp-play-bar
                .jp-current-time{"aria-label" => "time", role: "timer"}  
                .jp-duration{"aria-label" => "duration", role: "timer"}  
                .jp-toggles
                  %button.jp-repeat{role: "button", tabindex: "0"} repeat
            .jp-details
              .jp-title{"aria-label" => "title"}  
            .jp-no-solution
              %span Update Required
              To play the media you will need to either update your browser to a recent version or update your
              = succeed "." do
                %a{href: "http://get.adobe.com/flashplayer/", target: "_blank"} Flash plugin
        
        #sound-links
          - @artiste.sounds.each do |sound|
            = link_to sound.title, sound.file_url, class: 'play'    

      .clear

      :javascript
        $(document).ready(function(){
          $("#jplayer").jPlayer({
            ready: function () {
              var media = $(".play").first()
              setMedia(media.text(), media.attr("href"));
            },
            cssSelectorAncestor: "#jp_container",
            swfPath: "/js",
            supplied: "mp3, m4a",
            useStateClassSkin: true,
            autoBlur: true,
            smoothPlayBar: false,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true,
            volume: 0.5
          });
        
          $(".play").click(function(e) {
            e.preventDefault();
            setMedia($(this).text(), $(this).attr("href"));
            $("#jplayer").jPlayer('play');
          });

          function setMedia(filename, href) {
            var ext = href.split('.').pop();
            if (ext == "m4a") {
              $("#jplayer").jPlayer("setMedia", {
                m4a: href,
                title: filename
              });
            }
            else {
              $("#jplayer").jPlayer("setMedia", {
                mp3: href,
                title: filename
              });
            }
          }
        });