%table
  %thead
    %tr
      %th Email
      %th Créé le
      %th
      %th
      
  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.email
        %td= l admin.created_at, formats: :short
        %td
          = link_to 'Editer', edit_admin_registration_path
        %td
          = link_to 'Supprimer', cancel_admin_registration_path, data: { confirm: 'Êtes-vous sûr ?' } unless Admin.count == 1

%br

=# link_to 'Nouvel Admin', new_admin_registration_path