.admin-links  
  = link_to "Artistes" ,  artistes_path, class: (link_active?(@response[:from], nil))
  = link_to "évènements", events_path, class: (link_active?(@response[:from], "events"))
  = link_to "Presse" ,    press_articles_path, class: (link_active?(@response[:from], "press_articles"))
  = link_to "Partenaires", partners_path, class: (link_active?(@response[:from], "partners"))
  = link_to "Admins" ,    admins_path, class: (link_active?(@response[:from], "admins"))


- if @response[:from] == "events"
  = render partial: "events/index"
- elsif @response[:from] == "press_articles"
  = render partial: "press_articles/index"
- elsif @response[:from] == "partners"
  = render partial: "partners/index"
-elsif @response[:from] == "admins"
  = render partial: "admins/index"
- else
  = render partial: "artistes/index"