= simple_form_for(@partner, html: { class: 'smart-green' }) do |f|
  %h1= (params[:action] == "new" ? "Nouveau Partenaire" : "Editer Partenaire")

  .field
    = f.label :to_display, "Afficher"
    = f.input :to_display, checked: Proc.new { |f| params[:action] == 'edit' ? f.object.to_display : true }.call(f), label: false
  .field
    = f.input :name, label: "Nom"
  .field
    = f.input :website
  .field
    = f.input :description
  .field
    = f.input :image
    - if params[:action] == 'edit'
      %br
      = image_tag(f.object.image_url(:thumb)) if f.object.image?

  .links
    = f.button :submit, "Save", class: "button"
