%table
  %thead
    %tr
      %th Nom
      %th Website
      %th Description
      %th Image
      %th
      %th

  %tbody
    - @partners.each do |partner|
      %tr
        %td= link_to partner.name, partner.website
        %td= link_to partner.website, partner.website
        %td= partner.description
        %td= image_tag(partner.image_url(:thumb))
        %td= link_to 'Edit', edit_partner_path(partner)
        %td= link_to 'Destroy', partner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nouveau Partenaire', new_partner_path
