#partners
  %h1 Nos partenaires
  #content-block
    - @partners.each do |partner|
      %div.dotted
        .left.margin-right.margin-bottom= link_to image_tag(partner.image_url(:thumb_150)), partner.website, target: 'blank'
        
        .partner-content{style: "margin-left: 170px;"}
          %p= partner.description
          %p= link_to "Voir le site", partner.website, class: "link", target: 'blank'
        .clear