!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = link_to image_tag(root_url + asset_path("logo.jpg"), height: "120px", width: "200px"), root_url
    %h1
      Hey Excentric
    %p
      #{@contact_us.first_name} #{@contact_us.last_name} (#{@contact_us.email}) vous a envoyé un message. 

    %p
      Voici son message : 
    %br
    #{@contact_us.message}