#contact_us
  = simple_form_for @contact_us, html: { class: 'smart-green' } do |f| 
    %h1 Contactez-nous

    #notice= flash[:notice] if flash[:notice]
    = f.input :last_name, label: 'Nom', placeholder: 'Votre nom'
    = f.input :first_name, label: 'Prénom', placeholder: 'Votre prénom'
    = f.input :email, label: 'Email', placeholder: 'email@domain.com'
    = f.input :object, label: 'Sujet', placeholder: 'Sujet'
    = f.input :message, input_html: {rows: 10, cols: 50}, placeholder: 'Votre message'
    = f.button :submit, value: "Envoyer", class: "button"


  #map{style: "width: 200px; height: 250px;"}
  .clear

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ 
      provider: {
        zoom: 16,
        center: new google.maps.LatLng(50.2776258, 3.9762643),
        maxZoom: 17
      }, 
      internal: {
        id: 'map',
      }
    }, 
    function(){
      markers = handler.addMarkers([
        {
          "lat": 50.2776258,
          "lng": 3.9762643,
          "picture": {
            "width":  100,
            "height": 80
          }        
        }
      ]);
    
      handler.bounds.extendWith(markers);
    }
  );