= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , class: 'smart-green'  }) do |f|
  %h1 Forgot your password?
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .actions
    = f.submit "Send me reset password instructions", class: "button"
= render "devise/shared/links"
