= simple_form_for(@event, html: { class: 'smart-green' }) do |f|

  %h1= params[:action] == "new" ? "Nouvel Evènement" : "Editer Evènement" 

  .field
    = f.label :to_display, "Afficher"
    = f.check_box :to_display, checked: Proc.new { |f| params[:action] == 'edit' ? f.object.to_display : true }.call(f)
  .field
    = f.label :type_event, "Type d'évènement"
    = f.select :type_event, [["Evènement", "event"],["Exposition", "exhibition"]]
  .field
    = f.input :title, label: "Titre"
  .field
    / datepickerFromDate needed because of bug when trying switch months on first datepicker with two datepicker on same page
    = f.input :start_date, label: "Date de début", input_html: {class: "datetimepicker", id: "datepickerFromDate"}, as: :string
  .field
    = f.input :end_date, label: "Date de début", input_html: {class: "datetimepicker"}, as: :string
  .field
    = f.label :slideshow_image
    = f.file_field :slideshow_image
    - if params[:action] == 'edit'
      %br
      = image_tag(f.object.slideshow_image_url(:thumb)) if f.object.slideshow_image?
  .field
    = f.label :slideshow_description, "Slideshow description"
    = f.text_area :slideshow_description, :cols => 90, :rows => 5
  .field
    = f.label :slideshow_position, "Slideshow position"
    = f.select :slideshow_position, 1..10, include_blank: true
  .field
    = f.label :on_display, "Afficher sur le slideshow"
    = f.check_box :on_display
  .field
    = f.input :short_description, label: "Courte description", :cols => 90, :rows => 5
  .field
    = f.input :description, label: "Description", :cols => 90, :rows => 10
  .actions
    = f.submit 'Save', class: "button"