%table
  %thead
    %tr
      %th Titre
      %th Slideshow image
      %th Slideshow description
      %th Date de début
      %th Date de fin
      %th
      %th
      
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= image_tag(event.slideshow_image_url(:thumb)) if event.slideshow_image?
        %td= truncate(event.slideshow_description, length: 50, separator: ' ')
        %td= l event.start_date, format: :short
        %td= l event.end_date, format: :short
        %td
          = link_to 'Editer', edit_event_path(event)
        %td
          = link_to 'Supprimer', event, :method => :delete, :data => { :confirm => 'Êtes-vous sûr ?' }

%br

= link_to 'Nouvel Evénement', new_event_path