#events
  %h1
    - if params[:type].present?  
      = "Les #{t(params[:type]).pluralize}" 
    -else 
      Tous les évènements
  #content-block
    - @events.each do |event|
      %div.dotted
        = link_to event.title, event, class: "title"
        .from_to= "Du #{l(event.start_date, format: :short)} au #{l(event.end_date, format: :short)}"
        %p
          = event.short_description
        = link_to "Lire la suite", event, class: "link"


  #right-side-block
    = @event_clndr.view(id:'event-calendar')

    #filter-links
      - if params[:type] == "exhibition"
        = link_to "Les expositions à venir", display_events_path(type: "exhibition")
        = link_to "Les expositions passées", display_events_path(type: "exhibition", in_time: "past")
      - elsif params[:type] == "event"
        = link_to "Les évènements à venir", display_events_path(type: "event")
        = link_to "Les évènements passés", display_events_path(type: "event", in_time: "past")
      - else
        = link_to "Les évènements à venir", display_events_path
        = link_to "Les évènements passés", display_events_path(in_time: "past")
  

  .clear