#events
  %h1= @event.title
  #content-block
    .center
      = image_tag(@event.slideshow_image_url, width: "500px") if @event.slideshow_image?
    %p= format_text(@event.description)

  #right-side-block
    = @event_clndr.view(id:'event-calendar')

    #filter-links
      - if params[:type] == "exhibition"
        = link_to "Les expositions à venir", display_events_path(type: "exhibition")
        = link_to "Les expositions passées", display_events_path(type: "exhibition", in_time: "past")
      - else params[:type] == "event"
        = link_to "Les évènements à venir", display_events_path(type: "event")
        = link_to "Les évènements passés", display_events_path(type: "event", in_time: "past")


  .clear