.dialog
  %div
    %h1 The page you were looking for doesn't exist.
    %p You may have mistyped the address or the page may have moved.
  %p If you are the application owner check the logs for more information.