.dialog
  %div
    %h1 The change you wanted was rejected.
    %p Maybe you tried to change something you didn't have access to.
  %p If you are the application owner check the logs for more information.