= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'smart-green' }) do |f|
  %h1 Log in
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in", class: "button"
= render "devise/shared/links"
