= simple_form_for(@<%= singular_table_name %>, html: { class: 'smart-green' }) do |f|

  .fields
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .links
    = f.button :submit, "Save", class: "button"
