/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.datetimepicker
 *= require_self
 *= require clndr-rails
 */

$size: 1170px;
$violet: #83006E; /* 9C1E88 8C0E79 8A1177 */
$align_center: 0 auto;
$body_bgcolor: #F3F3F3;
$green: #c1d901;
$footer_color: #EDEDED;
$soft_violet: #A300A3;
$white: white;
$light_grey: #ccc;
$grey_date: #909090;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
li,
form,
fieldset,
footer {
  border: 0 none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: walkway;
  src: url(<%= asset_path('Walkway_Black.ttf') %>);
} 

body {
  width: $size;
  margin: 0 auto;
  background: -webkit-linear-gradient(0deg, rgb(108, 108, 108), #D2D2D2) no-repeat scroll 0% 0%;
  background: -moz-linear-gradient(90deg, rgb(108, 108, 108), #D2D2D2) no-repeat scroll 0% 0%;
  background: linear-gradient(0deg, rgb(108, 108, 108), #D2D2D2) no-repeat scroll 0% 0%;
  background-color: rgb(108, 108, 108);
  box-shadow: 10px 20px 50px 0px;
}

header {
  background: url(<%= asset_path('banner.jpg') %>) no-repeat;
}

a {
  text-decoration: none;
  color: #666;

  &:hover, &:focus{
    text-decoration: none;
    color: #000;
  }
}

.clear {
  clear:both;
}

ol, ul {
  list-style: outside none none;
}

label {
  width: 150px;
  vertical-align: top;
}

header {
  background-color: $violet;
  height: 108px;

  #logo{
    width: $size;
    margin:$align_center;

    img{
      margin-top: 3px;
    }
  }
}

nav {
  font-size: 16px;
  font-weight: bold;
  background-color: $white;
  text-align: center;

  ul{
    width: $size;
    margin: $align_center;
    padding: 10px 0px;

    li {
      display: inline-block;
      margin: 0px 9px;
      padding: 10px 5px;
      text-transform: uppercase;
      
      ul {
        display:none;
        position:absolute;
        z-index: 1000;
        text-align: left;
        margin-top: 4px;
        padding: 0px 0px 5px 0px;
        border: 1px solid $green;

        li {
          padding: 5px 0px;
        }
      }

      &:hover ul{
        display:block;
        max-width: 161px;
        background-color: $white;
      }

      a {
        font-size: 15px;
        &.active, &:hover {
          border-bottom: 5px solid $green;
        }
      }
    }
  }
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: $green; /* A7C942 */
    color: #ffffff;
}

table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

#middle {
  .container_2 {
    padding: 10px 20px 30px 20px;
    background-color: $white;
    min-height: 400px;

    #legal_notes, #about {
      width: 650px;
      margin: 0 auto;
      
      h3 {
        color: #666;
      }

      p {
        margin: 20px 10px;
        text-align:justify;
      }
    }


    #press, #artistes, #artiste, #events, #site_map, #partners {
      width: 860px;
      background-color: $green;
      padding: 35px 20px;
      margin: 0px auto;
      border-radius: 1px;
      box-shadow: 16px 16px;
      min-height: 430px;

      .left {
        float:left;
      }

      .clear {
        clear:both;
      }

      .margin-right {
        margin-right: 20px;
      }

      .margin-bottom {
        margin-bottom: 20px;
      }

      #work-block {
        margin-top: 20px;
        .container_img {
          margin-left: 10px;
          margin-bottom: 10px;
          display: inline-block;
          height: 150px;
          width: 100%;
          max-width: 150px;
          background-color: #EEEEEE;
          img {
            display:block;
            height: 150px;
            max-width: 150px;
            cursor: pointer;
            margin: 0 auto;
          }
        }
      }

      h1 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: 'walkway';
      }

      #content-block {
        background-color: white; 
        padding: 25px; 
        border-radius: 4px; 
        min-height: 250px;

        img {
          max-width: 690px;
        }

        .center {
          text-align: center;
        }

        .right {
          float:right;
          margin-bottom: 10px;
        }

        .align-right, .align-left {
          color: $grey_date;
        }

        .align-right{
          text-align: right;
        }

        .date-title {
          font-size: 11px;
        }

        div.block-left {
          width: 150px;
          float:left;
          margin: 15px 20px;

          &:hover {
            position: relative;
            transform: scale(1.1);
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            transition:transform .3s;
            -webkit-transition:-webkit-transform .3s;
            -moz-transition:-moz-transform .3s;
          }

          div.full_name {
            padding: 2px 0px;
            background-color: #D5D5D5;
            font-family: arial;
            text-transform: uppercase;
            height: 36px;
            line-height: 36px;

            &:hover {
              a {
                color: $violet;
              }
            }

            a {
              color: #606060;
              display: block;

              &.align-top-margin{
                margin-top: -2px;
              }

              span{
                display: inline-block;
                line-height: 1.2;
              }

            }
          }

          .partner-content {
            float: left;
            width: 75%;
          }
        }

        div.dotted{
          border-bottom: 1px dotted $light_grey;
          margin-top: 20px;
          margin-bottom: 10px;
          padding-bottom: 10px;
          &:last-child {
            border:none;
          }

          .from_to {
            font-size: 11px;
            color: $grey_date;
          }
        }

        p {
          margin: 20px 0px;
          text-align:justify;
          font-size: 15px;
          color: #616161;
          font-family: Georgia;

          &.big-line-height{
            line-height: 20px;
          }
          &.no-margin {
            margin: 0px
          }
          &.first_line{
            text-indent: 50px;
          }
        }

        a {
          color: $violet;
          font-weight: bold;
          font-family: 'walkway';
          &.link {
            background-color: $violet;
            padding: 6px;
            border-radius: 2px;
            font-size: 15px;
            color: $white;
            &:hover {
              color: $green;
            }
          }
          &.title{
            font-size: 24px;
            &:hover {
              color: $soft_violet;
            }
          }
        }
      }
    }


    #events {
      width: 90%;

      #content-block {
        float: left;
        width: 68%;
      }
      
      #right-side-block{
        float: left;
        width: 30%;
        height: 100%;
        margin-left: 15px;
  
        #filter-links{
          background: none repeat scroll 0% 0% white;
          padding-top: 10px;
          padding-bottom: 10px;

          a{
            display:block;
            line-height: 30px; 
            font-size: 16px; 
            margin-left: 20px;
          }
        }
      }

      /* OVERRIDE CSS STYLE CALENDAR*/
      .mini-clndr-template{
        box-shadow: none;
        .clndr{ 
          border-bottom: 7px solid #414141;
          border-radius: 5px;
          
          .controls {
            background-color: #414141;
            .clndr-previous-button, .clndr-next-button{
              &:hover { 
                background-color: rgb(211, 80, 211);
              }
            }
          }

          .days-container{
            height: 194px;
            .days {
              .headers {
                background-color: #CCC;
                .my-event{
                  background-color: rgb(211, 80, 211);
                  cursor: pointer;
                }
                .my-last-month, .my-next-month {
                  cursor: pointer;
                  background-color: #7F7F7F;
                }
              } 
            }
          }  
        }
      }
    }

    #site_map {
      text-transform: uppercase; 

      ul#menu { 
        font-size:16px; 
        margin-top: 40px;
        margin-left: 40px;

        &> li { 
          margin-bottom: 20px;
          a {
            color: $violet;
          }

          ul {
            -moz-column-count: 2;
            -moz-column-gap: 20px;
            -ms-column-count: 2;
            -ms-column-gap: 20px;
            -webkit-column-count: 2;
            -webkit-column-gap: 20px;
            column-count: 2;
            column-gap: 20px;
            list-style-image: url(<%= asset_path('nested.png') %>); 
            list-style-position:inside;
            padding:5px 0 5px 18px; 
            font-size:15px; 

            &> li { 
              color:#bfe1f1; 
              height:15px; 
              margin-left:10px;
              margin-bottom: 2px; 
            }
          }
        }
      }
    }


    #slider1_container{
      display: none; 
      position: relative; 
      height: 450px; 
      overflow: hidden; 
      background-color: $white;

      a {
        font-weight: bold;
        font-size: 15px;
        color: $white;
        background-color: $violet;
        padding: 10px;
        margin-top: 15px;
        float:right;
        border-radius: 1px;
        &:hover {
          color: $violet;
          background-color: $white;
          background-color: rgba(255,255,255,1);
        }
      }

      .bg-loading{
        filter: alpha(opacity=70); 
        opacity:0.7; 
        position: absolute; 
        display: block; 
        background-color: #000; 
        top: 0px; 
        left: 60px;
        width: 100%; 
        height:100%;
      }

      .gif-loading{
        position: absolute; 
        display: block; 
        background-image: cloudinary-url('jssor/loading.gif');
        background-repeat: no-repeat;
        background-position: center center; 
        top: 0px; 
        left: 60px;
        width: 100%;
        height:100%;
      }

      .bg-slideshow {
        position: absolute; 
        width: 432px; 
        height: 400px;
        right: 0px;
        bottom: 0px;
      }

      .block-text {
        color: $white;
        position: absolute;
        width: 230px;
        right: 80px;
        top: 80px; 
        font-size: 16px;

        h4 {
          font-weight: bold;
        }
           
        .slideshow-text {
          text-align: justify;
          font-family: Helvetica;
          line-height: 1.2em;
        }
      }
    }
  }
}

footer {
  background-color: $violet;
  color: $footer_color;

  #menu-links{
    width: 350px;
    padding-right: 20px;
  }

  #footer-menu, #footer-contact, #footer-horaires {
    font-weight: bold;
    padding: 0px 20px;
    float: left;
    margin: 10px 50px;
  }

  #footer-links {
    padding: 10px 50px;
    a {
      color: white;
      padding: 0px 5px;
      &:hover {
        color: #ccc;
      }
    }
  }

  #footer-content {
    width: $size;
    padding-top: 15px;
    
    h3 {
      color: #BFBFBF;
      text-decoration: underline;
      text-transform: uppercase;
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
    
    #footer-menu {
      color: $green;

      ul#menu {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -ms-column-count: 2;
        -ms-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      li {
        list-style: inside circle;
        width: 113px;
      }
    }

    a {
      color: $footer_color;
      text-transform: capitalize;
    }

  }
}



/*######## Smart Green Forms ########*/
.smart-green {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: $green; /* A7C942 9DC45F */
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green input[type="password"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:100px;
    padding-top: 10px;
}
.smart-green select {
    background-image: cloudinary-url('down-arrow.png');
    background-repeat: no-repeat;
    background-position: right;
    background: -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.smart-green .button {
    background-color: $green; /* A7C942 9DC45F */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#80A24A;
}

.smart-green div {
  margin-bottom: 15px;
}


/** # Arrow Navigator Skin Begin
# jssor slider arrow navigator skin 11 css 
#
#.jssora02l              (normal)
#.jssora02r              (normal)
#.jssora02l:hover        (normal mouseover)
#.jssora02r:hover        (normal mouseover)
#.jssora02ldn            (mousedown)
#.jssora02rdn            (mousedown)
*/

.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background-image: cloudinary-url('jssor/a02.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

.jssora02l {
  background-position: -4px -33px;
}

.jssora02r {
  background-position: -64px -33px;
}

.jssora02l:hover {
  background-position: -123px -33px;
}

.jssora02r:hover {
  background-position: -183px -33px;
}

.jssora02ldn {
  background-position: -4px -33px;
}

.jssora02rdn {
  background-position: -64px -33px;
}
/** # Arrow Navigator Skin End */


/**# Bullet Navigator Skin Begin
# jssor slider bullet navigator skin 05 css 
#
#.jssorb13 div           (normal)
#.jssorb13 div:hover     (normal mouseover)
#.jssorb13 .av           (active)
#.jssorb13 .av:hover     (active mouseover)
#.jssorb13 .dn           (mousedown)
*/
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
  background-image: cloudinary-url('jssor/b13.png');
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.jssorb13 div {
  background-position: -7px -7px;
}

.jssorb13 div:hover, .jssorb13 .av:hover {
  background-position: -37px -7px;
}

.jssorb13 .av {
  background-position: -67px -7px;
}

.jssorb13 .dn, .jssorb13 .dn:hover {
  background-position: -97px -7px;
}
/* Bullet Navigator Skin End */

.admin-links {
  text-align:center;
  margin-bottom: 3px;

  a{
    font-size: 12px;
    border-right: 1px solid #98BF21;
    border-left: 1px solid #98BF21;
    border-top: 1px solid #98BF21;
    padding: 5px 40px;
    background-color: $green;
    color: $white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;

    &.active {
      background-color: $violet;
      border-right: 1px solid $violet;
      border-left: 1px solid $violet;
      border-top: 1px solid $violet;
    }
  }
}

.inline-block {
  display: inline-block;
}

/* OVERWRITE BOOTSTRAP */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: inherit;
  margin-left: 0px;
}

/* Dialog page error (404, 422, 500) */
.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;

  &> div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }

  &> p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
}

/* Block audio */
#sound-block {
  .jp-audio {
    float:left;
    margin-right: 10px;
  }

  #sound-links{
    margin-left: 255px;
    .play {
      display:block;
    }
  }
}

#new_contact_us {
  float:left;
  margin-left: 200px;
  margin-right: 10px;
}

.nested-fields {
  border-bottom: 1px dashed #CCC;
}

.dash {
  width: 100%;
  height:1px;
  border-bottom: 1px dashed #CCC;
  margin-top: 15px;
}