= simple_form_for(@press_article, html: { class: 'smart-green' }) do |f|
  %h1= params[:action] == "new" ? " Nouvel article de presse" : "Editer article de presse"
  
  .field
    = f.label :to_display, "Afficher"
    = f.check_box :to_display, checked: Proc.new { |f| params[:action] == 'edit' ? f.object.to_display : true }.call(f)
  .field
    = f.input :title, label: "Titre"
  .field
    = f.label :photo
    = f.file_field :photo
    - if params[:action] == 'edit'
      %br
      = image_tag(f.object.photo_url(:thumb)) if f.object.photo?
  .field
    = f.input :short_paragraph, :cols => 90, :rows => 5, label: "Courte description"
  .field
    = f.input :paragraph, :cols => 90, :rows => 10, label: "Description"
  .field
    = f.label :published_on, "Publié le"
    = f.text_field :published_on, class: "datetimepicker"
  .field
    = f.label :from_website, "Site web"
    = f.text_field :from_website
  .field
    = f.label :full_link, "Lien vers l'article"
    = f.text_field :full_link
  .actions
    = f.submit 'Save', class: "button"