%table
  %thead
    %tr
      %th Titre
      %th Slideshow image
      %th Court paragraphe
      %th Paragraphe
      %th
      %th
      
  %tbody
    - @press_articles.each do |press_article|
      %tr
        %td= link_to press_article.title, press_article
        %td= image_tag(press_article.photo_url(:thumb)) if press_article.photo?
        %td= truncate(press_article.short_paragraph, length: 50, separator: ' ')
        %td= truncate(press_article.paragraph, length: 200, separator: ' ')
        %td= link_to 'Editer', edit_press_article_path(press_article)
        %td= link_to 'Supprimer', press_article, :method => :delete, :data => { :confirm => 'Êtes-vous sûr ?' }

%br

= link_to 'Nouvel Article', new_press_article_path