#press
  %h1 Actualités presse
  #content-block
    - @press_articles.each do |press_article|
      %div.dotted
        = link_to press_article.title, press_article, class: "title"
        .date-title.align-left= published_on_tag(press_article.published_on, press_article.from_website)

        %p
          = press_article.short_paragraph
        = link_to "Lire la suite", press_article, class: "link"