#press
  %h1= @press_article.title
  #content-block
    %div.align-right= published_on_tag(@press_article.published_on, @press_article.from_website)
    - if @press_article.photo?
      .center
        = image_tag(@press_article.photo_url)
    %p= format_text(@press_article.paragraph)
    -if @press_article.full_link?
      %p
        = link_to @press_article.full_link, @press_article.full_link, target: :blank