#footer-content
  #footer-menu
    %h3 Liens pratiques
    = render 'layouts/navigation'

  #footer-horaires    
    %h3 Nos horaires d'ouverture
    #horaires-ouverture
      %em La galerie est ouverte :
      %br 
        Le Mercredi et le Jeudi de 17h00 à 20h00
        %br Le Vendredi de 17h00 à 20h00
        Le Samedi de 15h00 à 20h00
      %br
    .footer-social.hidden
      %h3 Restez en contact
      .custom-footer-socials
        .btn_newsletter
          %a#btn_newsletter{href: "#"} Abonnez-vous à notre newsletter
  #footer-contact
    %h3 Contactez-nous
    #contact-us
      #localisation
        EXCENTRIC
        %br 9, rue du commerce - 59600 Maubeuge
        #mail maubeuge.excentric@gmail.com
    
    %br
    %h3 Suivez-nous
    .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Excentric-Maubeuge/392047360986940", "data-layout" => "standard", "data-share" => "false", "data-show-faces" => "true", "data-width" => "245", "data-colorscheme" => "dark"}
    .hidden= link_to image_tag("social/twitter.png", height: "48px"), ""

  .clear    
#footer-links
  = link_to "Mentions légales", legal_notes_path
  = "-"
  = link_to "Plan du site", site_map_path
  = "-&nbsp".html_safe
  Copyright © 2015 Excentric Maubeuge - réalisé par Thomas Egret
  
#fb-root