%ul#menu
  %li
    = link_to "Accueil", root_path, class: (link_active?(@response[:visited], "home") if @response)
  %li 
    =link_to "Actualités", display_events_path, class: (link_active?(@response[:visited], "news") if @response)
    %ul
      %li
        = link_to "Expositions", display_events_path(type: "exhibition")
      %li
        = link_to "évènements", display_events_path(type: "event")
      %li
        = link_to "Presse", display_press_articles_path
  %li
    = link_to "Les artistes", display_artistes_path, class: (link_active?(@response[:visited], "artistes") if @response)
    %ul
      %li
        = link_to "Musiciens", display_artistes_path(type: "music")
      %li
        = link_to "Peintres", display_artistes_path(type: "painting")
      %li
        = link_to "Photographes", display_artistes_path(type: "photo")
      %li
        = link_to "Sculpteurs", display_artistes_path(type: "sculpture")
  %li
    = link_to "à propos", about_path, class: (link_active?(@response[:visited], "about") if @response)
    %ul
      %li
        = link_to "Partenaires", display_partners_path
  %li
    = link_to "Contactez-nous", new_contact_us_path, class: (link_active?(@response[:visited], "contact") if @response)
  
  - if admin_signed_in?
    %li
      = link_to "Admin", artistes_path, class: (link_active?(@response[:visited], "admin") if @response)
      %ul
        %li
          = link_to "Artistes", artistes_path
        %li
          = link_to "évènements", events_path
        %li
          = link_to "Presse", press_articles_path
        %li
          = link_to "Partenaires", partners_path
        %li
          = link_to "Se Déconnecter", destroy_admin_session_path, method: :delete