!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Excentric"
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
    = csrf_meta_tags 
%body
  %header
    = link_to image_tag("logo.png"), root_url
  %nav
    = render 'layouts/navigation'

  #middle
    / Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize
    .container_2
      = yield 

  %footer
    = render 'layouts/footer'


